nav {
  background: var(--primary-color);
}

nav img {
  width: 15rem;
  padding: 2rem 0;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  nav {
    padding: 0;
    margin: 0;
    justify-content: center;
  }
}

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 405px) {
}
