.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  height: 100%;
  z-index: 999;
}

.nav-logo,
.nav-link {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 2rem;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.nav-logo {
  margin-bottom: 2rem;
}

.nav-logo-icon {
  font-size: 1.25rem;
  color: white;
  cursor: pointer;
}

.nav-logo-name {
  font-weight: 700;
  color: white;
}

.nav-link {
  display: flex;
  align-items: center;
  position: relative;
  color: #ececec;
  width: 20rem;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  transition: 0.5s;
}

.nav-link:hover {
  background: #c4c4c4;
  color: white;
}

.nav-link svg {
  transition: ease 0.3s;
}

.nav-link svg:hover {
  color: var(--primary-side-bar);
  /* background-color: red; */
}

/* .active {
  color: var(blue);
  background-color: black;
}

.active::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 2.375rem;
  width: 3px;
  background-color: var(--sidebar-secondary-color);
  transition: 0.5s;
} */

/* ====== RESPONSIVE */

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 405px) {
}
