.news {
  padding: 0 20%;
  background: red;
  display: flex;
  gap: 0.5rem;
}

.col {
  background: gray;
  width: 100%;
  height: 40rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cards {
  background: pink;
  height: 100%;
}
