.container-table {
  width: 100%;
}

.content-table {
  background: var(--primary-color);
  border-radius: 4px;
  padding: 1rem;
  height: auto;
}
.container-table h2 {
  margin: 1rem 0;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--secondary-color);
}
.container-table h1 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  .container-table {
    display: flex;
    flex-direction: column;
  }

  .content-table {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
}
