/* .container-running-stilch {
  position: relative;
} */

/* .container-running-stilch table {
  width: 100%;
  border-radius: 8px;
  border-spacing: 1px;
  border-collapse: collapse;
}

.container-running-stilch table th {
  padding: 1rem 0.5rem;
  text-align: center;
}
.container-running-stilch table td {
  padding: 0.5rem;
  text-align: center;
  border-top: 1px solid var(--border-color);
}

.scroll-table::-webkit-scrollbar {
  overflow-x: scroll;
  overflow-y: hidden;
  object-fit: cover;
}

.col-colors {
  color: #444;
  font-weight: 300;
  font-size: 0.7rem;
}

.col-name {
  display: flex;
  text-align: left;
  margin: 0;
  font-size: 1rem;
  color: #444;
}

thead {
  position: relative;
  color: black;
} */

/*css global tabela*/
/* .full_table_list {
  width: 200px;
  border-collapse: collapse;
} */

/*colocando bordas nas linhas*/
/* .full_table_list td {
  color: black;
} */

/*Definido cor das linhas pares*/
/* .full_table_list tr:nth-child(even) {
  background: #c9c9c9;
} */

/*Definindo cor das Linhas impáres*/
/* .full_table_list tr:nth-child(odd) {
  background: #dadada;
} */

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 800px) {
  /* .scroll-table {
    overflow: hidden;
    overflow-x: scroll;
    object-fit: cover;
    position: relative;
  }

  td,
  th {
    position: relative;
    z-index: 1;
  }

  td {
    font-size: 0.7rem;
  }

  .col-name {
    display: flex;
    align-items: center;
    overflow-x: hidden;
    min-width: 11.5rem;
    background: rgba(241, 241, 241, 0.98);
    font-weight: 600;
    z-index: 5;
  }

  .container-running-stilch table td {
    font-size: 0.9rem;
    position: relative;
  }

  .no-moving-away {
    position: absolute;
    background: yellow;
  }
  .no-moving-away2 {
    position: relative;
  } */
}

@media screen and (max-width: 370px) {
  /* .col-name {
    min-width: 8.5rem;
  }
  .no-moving-away2 {
    left: 8.5rem;
  } */
}
