@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  outline: none !important;
}

:root {
  --primary-color-nav: #009c3b;
  --primary-side-bar: #00792e;

  --primary-color-text: #009c3b;
  --secondary-color-text: #888888;

  --secondary-color: #87a3bf;
  --secondary-color-alt-light: #afc0d3;
  --bg-color: #f9f9f9;
  --border-color: #e6e6e6;
  --live-color: #06aa48;

  /*  */
  /*==========  */
  /*  */

  --sidebar-color: #f10086;
  --sidebar-color-alt-light: #f582a7;
  --white-color: #ffddee;

  --header-height: 3rem;
  --nav-width: 68px;

  /*  */
  /* ========= */
  /*  */

  --padding-default: 20%;
}

html,
body {
  width: 100%;
  height: 100%;

  scrollbar-face-color: ThreeDFace !important;
  scrollbar-shadow-color: ThreeDDarkShadow !important;
  scrollbar-highlight-color: ThreeDHighlight !important;
  scrollbar-3dlight-color: ThreeDLightShadow !important;
  scrollbar-darkshadow-color: ThreeDDarkShadow !important;
  scrollbar-track-color: Scrollbar !important;
  scrollbar-arrow-color: ButtonText !important;
}

body {
  background-color: var(--bg-color);
  color: white;
  overflow: overlay;
  /* height: 100%; */
}

html {
  /* chrome://flags/#smooth-scrolling */
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  list-style: none;
}

ul {
  list-style: none;
}
