.content-page-tables {
  display: flex;
  flex-direction: column;
  background: var(--bg-color);
}

.content-page-tables-alt {
  padding: 0 20%;
}

.update-date {
  color: var(--secondary-color-text);
  font-size: 0.8rem;
  position: relative;
  bottom: 0.4rem;
}

.content-page-tables .games-results {
  background: var(--primary-color-text);
  padding: 2rem;
  border-radius: 8px;
}

.content-page-copacepro,
.content-page-tables h1 {
  margin-top: 1.5rem;
  font-weight: 500;
  color: var(--primary-color-text);
}

.content-page-tables-alt h1 {
  color: var(--primary-color-text);
}
.content-page-tables-alt h1,
.content-page-tables h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.content-page-copacepro {
  display: flex;
  flex-direction: column;
}

/* ==== TABLES GAMES */

.content-tables-camps {
  height: auto;
}

.tables-camps {
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.tables-camps .content-back h1 {
  color: var(--primary-color-text);
  width: 100%;
  font-weight: 300;
  margin-left: 1rem;
}

.content-back {
  display: flex;
  align-items: center;
  width: 100%;
}

.content-navigation {
  width: 100%;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--primary-color-nav);
}

.content-navigation h1 {
  text-transform: uppercase;
  font-weight: 300;
  color: white;
}

.news-arena,
.container-tags {
  padding: 0 20%;
  padding-bottom: 1rem;
}

.container-tags .content-tags {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  display: flex;
  gap: 1rem;
}
.container-tags .content-tags .tag {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 4px;
  background: #1737fe;
}

.container-tags .content-tags .color-tag-silver {
  background-color: var(--primary-color-text);
}
.container-tags .content-tags .color-tag-bronze {
  background-color: #ff8c00;
}

.games-results-alt {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid var(--border-color);
}

.news-arena {
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.news-arena .title-news {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  line-height: 4.2rem;
  /* m
  argin-bottom: 2rem; */
}
.news-arena .title-news p {
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
}

.news-arena img {
  width: 20rem;
  margin: 4rem 0;
}

.news-arena .paragraph-news {
  width: 70%;
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.news-arena .tags-teams {
  width: 70%;
}
.select-card-cup {
  text-align: center;
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.main-hearts {
  padding: 5rem 20%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}

.container-default .title-cup {
  width: 100vw;
  font-size: 1rem;
  color: var(--primary-color-text);
  margin-top: 1rem;
}

/* ===== RESPOSIVE */

@media screen and (max-width: 1024px) {
  .tables-games {
    padding: 0.7rem;
  }

  .content-page-tables {
    margin-top: 1.5rem;
  }
  .content-page-tables h1 {
    text-align: center;
  }

  .content-page-tables {
    padding: 0 2%;
  }

  .tables-games h1 {
    font-size: 1.4rem;
  }

  .tables-camps h1 {
    text-align: center;
    font-size: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .tables-camps {
    flex-direction: column;
    height: auto !important;
    padding: 2rem 0;
  }

  .tables-camps h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  .content-page-tables-alt {
    padding: 0;
  }

  .update-date {
    left: 1rem;
  }
  .content-page-tables-alt h1 {
    padding: 0 1rem;
  }

  .content-navigation {
    margin: 0;
    padding: 0;
  }

  .content-back {
    justify-content: center;
    padding: 0 1rem;
    margin-bottom: 1.5rem;
  }

  .content-back h1 {
    margin: 0;
    font-size: 1.5rem;
  }

  .content-page-tables .games-results {
    padding: 0;
    background: transparent;
    border: 0;
    height: auto;
    z-index: 0;
  }

  .games-results-alt .games-results {
    padding: 1rem 0;
  }

  .container-tags {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container-tags .content-tags {
    padding: 0;
  }
  .text-tag {
    font-size: 0.8rem;
    color: var(--secondary-color-text);
  }

  .news-arena {
    padding: 0.2rem;
    margin: 2rem 0;
  }
  .news-arena .title-news {
    width: 100%;
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .news-arena .title-news p {
    font-size: 1.5rem;
  }
  .paragraph-news {
    min-width: 100%;
    padding: 1rem;
  }

  .tags-teams {
    min-width: 100%;
    padding: 0 1rem;
  }

  .main-hearts {
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 4rem;
  }
}

@media screen and (max-width: 370px) {
  .content-page-tables .games-results {
    padding: 0;
  }
}
